.contents {
  text-align: center;
  .content {
    margin: 0 auto;
  }
}

.back-button {
  text-align: center;
}

.comment-input {
  width: 500px;
  height:50px;
}

.submit-btn {
  width: 100px;
  height: 50px;
}

.tweet-sentence {
  word-break: break-all;
  text-align: center;
  text-indent: 0%;
  text-overflow: ellipsis;
  margin: 30px 100px;
}