.contents {
  text-align: center;
  .content {
    margin: 0 auto;
  }
}

.back-button {
  text-align: center;
}

.comment-input {
  width: 500px;
  height:50px;
}

.submit-btn {
  width: 100px;
  height: 50px;
}

.tweet-sentence {
  word-break: break-all;
  text-align: center;
  text-indent: 0%;
  text-overflow: ellipsis;
  margin: 30px 100px;
}

.Comment-area {
  background-color: azure;
  height: 300px;
  width: 606px;
  margin: 0 auto;
  margin-top: 30px;
  overflow: scroll;
  white-space:nowrap;
  background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
  border-radius: 50px;
}

.contents-image {
  margin-top: 30px;
  width: 90%;
  height: 500px;
}

.post-list {
  color: #808085;
  font-weight: bold;
  text-align: center;
  font-size: 30px;
  font-family: 'Vollkorn', serif;
}

.mycontents {
  display: flex;
  width: 70%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}